/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {

  --color-red: #b82025;
  --color-car-details: #b82025;
  --color-backgoud: #b8202514;
}

/************* Index Page **************/

html {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
}

header {
  background-color: var(--color-red);
  color: white;
  padding: 1rem;
  text-align: center;
}

body {
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  text-align: center;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  flex-wrap: wrap;
}

h3 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  color: var(--color-red);
}

h1{
  color: var(--color-red);
}

.siteName a {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-red);
  text-decoration: none;
}

#tools a {
  font-size: 16px;
  color: var(--color-red);
  text-decoration: none;
}

#tools a:hover {
  text-decoration: underline;
}

nav {
  background-color: var(--color-red);
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

nav ul li {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  flex-wrap: wrap;
  font-weight: 700;
  transition: transform 0.2s ease;
}

nav ul li:hover {
  transform: scale(1.3);

}

main {
  margin-top: 20px;
}

.vehicles {
  display: flex;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.vehicles {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.vehicles_datails {
  background: var(--color-backgoud);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  left: 2rem;
  top: 0rem;
  z-index: 10;
}

.vehicles_datails p,
.vehicles_datails h2 {
  margin: 0.25rem;
  color: var(--color-car-details);
}

.btn-own-today {
  background-color: var(--color-red);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.25rem;
  font-weight: 700;
  transition: transform 0.2s ease;
}

.btn-own-today:hover {
  transform: scale(1.1); /* Aumenta o botão em 10% */
}

picture {
  display: flex;
  justify-content: center;
}

.vehicles_image {
  height: auto;
  display: block;
  margin: 1rem;
}


.container_upgrades {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.car_reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 0 1rem;
  background-color: var(--color-backgoud);
  border-radius: 8px;
}

.car_upgrades{
  background-color: var(--color-backgoud);
  border-radius: 8px;
  padding: 0 1rem;
}

.upgrade {
  display: grid;
  grid-template-rows: 1fr 2rem;
  background-color: var(--color-car-details);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  height: 9rem;
  width: 11rem;
  justify-items: center;
}

.upgrade p {
  color: white;
  margin: 0;
  margin-top: 0.25rem;
  font-weight: 700;
}


@media (min-width: 768px) {

  #wrapper {
    width: 80vw;
  }

  .vehicles {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .vehicles_datails {
    position: absolute;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    left: 20%;
    top: 0rem;
    z-index: 10;
  }

  .vehicles_image {
    margin: 1rem;
  }

  .container_upgrades {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
  }

  .car_reviews {
    margin-left: 2rem;
  }

  .car_review_upgrades {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .car_upgrades {
    display: flex;
    flex-direction: column;
  }

  .upgrade {
    height: auto;
    width: auto;
    display: grid;
    grid-template-rows: 7rem 2rem;
    justify-items: center;
    align-items: center;
  }

  .reviews li {
    margin-top: 1rem;
  }

  .vehicles_reviews_upgrades {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  nav ul {
    justify-content: space-around;
  }

  nav ul li {
    padding: 15px;
    font-size: 18px;
  }

  #top-header {
    padding: 20px 40px;
  }

  .siteName a {
    font-size: 2.5rem;
  }

  #tools a {
    font-size: 18px;
  }
}