<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style></style>
  </head>
  <body>
    <h1><%= title %></h1>
    <img
      src="<%= status === 404 ? 'https://httpstatusdogs.com/img/404.jpg' : 'https://httpstatusdogs.com/img/500.jpg' %>"
      alt="Image of Error"
    />
    <p><%- message %></p>
  </body>
</html>
